@import "styles/abstracts/mixins";

.product {
	.image {
		width: 100%;
		height: 0;
		padding-bottom: 100%;
		position: relative;
		background: var(--colour__bg);
		overflow: hidden;
		& > * {
			height: 100%;
			width: 100%;
			position: absolute;
			transition: transform 0.6s var(--easing);
		}
	}

	.info {
		display: grid;
		grid-template-columns: 2fr 1fr;
		.price {
			text-align: right;
			.currency,
			&Cents {
				font-size: 0.6em;
				text-transform: uppercase;
				vertical-align: top;
			}
		}

		&.skeleton {
			.name > span,
			.priceMain,
			.priceCents {
				opacity: 0.15;
				position: relative;
				&:before {
					background: currentColor;
					content: "";
					display: block;
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 75%;
					border-radius: 2px;
				}
			}
		}
	}

	@include on-event {
		text-decoration: none;
		.image {
			& > * {
				transform: scale(1.1);
			}
		}
	}
}
