.ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.li {
	button {
		-webkit-appearance: none;
		border: none;
		background: transparent;
		padding: 0.5rem;
		text-transform: uppercase;
		letter-spacing: 0.04em;
		&:before {
			content: "";
			display: inline-block;
			height: 0.8em;
			width: 0.8em;
			border: 2px solid;
			margin-right: 0.5em;
		}
		&:hover {
			text-decoration: underline;
		}
	}
	&.active {
		button {
			&:before {
				background: currentColor;
			}
		}
	}
}
