@import "styles/abstracts/mixins";

.slide {
	height: calc(100vh - var(--navbar__height) - 128px);
	@include responsive($tablet-p) {
		height: calc(100vh - var(--navbar__height) - 64px);
	}
}

.header {
	overflow: hidden;
	text-align: center;
	.subtitle {
		margin-bottom: 0.5em;
		font-weight: 300;
	}

	.logo {
		position: relative;
		width: 100%;
		height: calc(64px + 10vw);
	}
}

.textColumn {
	display: flex;
	flex-direction: column;
	align-self: center;
	justify-content: flex-start;
	overflow-y: hidden;
	position: relative;
	& > div {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
}

.image {
	opacity: 0.3;
	@include responsive($tablet-l) {
		opacity: 1;
	}
	overflow: hidden;
	height: 100%;
	width: 100%;
	figure {
		height: 100%;
		width: 100%;
		position: relative;
	}
}
