.placeholder {
	transition: background-color 1s ease-out;
	background-color: var(--placeholder_bg);
	.image {
		transition: opacity 1s ease-out;
		opacity: 0;
	}

	&.loaded {
		background-color: transparent;
		.image {
			opacity: 1;
		}
	}
}
