@import "styles/abstracts/mixins";

.timeline {
	position: relative;
	display: grid;
	grid-template-columns: 1fr;
	@include responsive($tablet-l) {
		grid-template-columns: 1fr 1fr;
	}
	gap: var(--gap, 2rem);

	.event {
		padding-bottom: 2rem;
		position: relative;
		display: grid;
		grid-template-columns: 2fr 1fr;
		gap: var(--gap, 2rem);

		.txt {
			order: 2;
		}
		.img {
			align-self: start;
			position: sticky;
			top: 100px;
			order: 3;
			text-align: right;
		}
		&:after {
			--iconSize: 0.75rem;
			content: "";
			position: absolute;
			display: block;
			width: var(--iconSize);
			height: var(--iconSize);
			background: var(--fg);
			right: calc(var(--gap, 2rem) * -0.5 + (var(--iconSize) / -2));
			left: auto;

			border-radius: 999px;
			top: 2rem;
		}
		@include responsive($tablet-l) {
			&:nth-child(even) {
				margin-top: 25%;
				margin-bottom: -25%;
				&:after {
					right: auto;
					left: calc(var(--gap, 2rem) * -0.5 + (var(--iconSize) / -2));
				}
				.img {
					text-align: left;
					order: 1;
				}
				grid-template-columns: 1fr 2fr;
			}
		}
	}

	&:after {
		content: "";
		position: absolute;
		display: block;
		width: 1px;
		height: 100%;
		background: var(--fg);
		left: calc(100% + var(--gap, 2rem) / 2);
		@include responsive($tablet-l) {
			left: 50%;
		}
		top: 2rem;
		opacity: 0.5;
	}
}
