@import "styles/abstracts/mixins";

.link {
	h3 {
		display: inline-block;
		line-height: 1.2;
		span {
			border-bottom: 0.1em solid transparent;
		}
		@include on-event {
			span {
				border-bottom-color: currentColor;
			}
		}
	}
}
