@import "styles/abstracts/mixins";

.link {
	.image {
		overflow: hidden;
		transition: filter 1s ease-out;
		filter: grayscale(100%);
		& > * {
			transform: scale(1.05);
			transition: transform 0.6s ease-out;
		}
	}

	.title {
		span {
			display: inline;
			line-height: 1.1;
			border-bottom: 0.1em solid transparent;
		}
	}

	@include on-event {
		text-decoration: none;
		.image {
			filter: grayscale(0%);
			& > * {
				transform: scale(1);
			}
		}

		.title {
			span {
				border-bottom-color: currentColor;
			}
		}
	}
}

.year {
	margin-right: 2rem;
}
